body{
    margin: 0;
    font-family: Poppins;
}
.container{
    padding: 10px 10%;
}
#ABOUT{
    padding: 80px 0;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ABOUT-col-1{
    flex-basis: 35%;
}
.ABOUT-col-1 img{
    border-radius: 15px;
    justify-content: center;
}
ABOUT-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.ABOUT-col-2 p{
    word-spacing: 10px;
}