<%- include('partials/header') -%>

<!-- Products Section -->
<section id="PRODUCTS">
    <div class="container">
        <h1 class="subtitle">Our Products</h1>
        <div class="tab-titles">
            <p class="tab-link active-link" onclick="opentab('Art')">Art</p>
            <p class="tab-link" onclick="opentab('Beadwork')">Beadwork</p>
            <p class="tab-link" onclick="opentab('Woodcraft')">Woodcraft</p>
        </div>
        <div class="tab-contents active-tab" id="Art">
            <ul><img src="images/p3.png" alt="Art Products"></ul>
        </div>
        <div class="tab-contents" id="Beadwork">
            <ul><img src="images/p4.png" alt="Beadwork Products"></ul>
        </div>
        <div class="tab-contents" id="Woodcraft">
            <ul><img src="images/p5.png" alt="Woodcraft Products"></ul>
        </div>
    </div>
   </section>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>
<% } else { %>
    <!--<p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>-->
<% } %>

<%- include('partials/footer') -%>
